*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Josefin Slab", serif;
  box-sizing: border-box;
  background-color: #501319d3;
  background-image: linear-gradient(315deg, #501319d3 0%, #a71d31 84%);
}

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1rem;
  display: inline-block;
  border-bottom: 1px solid #ffc069;
  background: linear-gradient(to right, #ffe6c3, #b3864a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heading-primary--apt {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1rem;
  display: inline-block;
  background: linear-gradient(to right, #ffc069, #b3864a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 37.5em) {
  .heading-primary--apt {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}
.heading-primary--int {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1rem;
  display: inline-block;
  border-bottom: 1px solid #ffc069;
  background: linear-gradient(to right, #ffe6c3, #b3864a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 37.5em) {
  .heading-primary--int {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  display: block;
  background: linear-gradient(to right bottom, #ffc069, #b3864a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right bottom, #efefef, #a7a7a7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.3rem;
  color: #ffc069;
}

.u-center-text {
  text-align: center;
}

.u-right-text {
  text-align: right;
}

.u-left-text {
  text-align: left;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-small {
    margin-bottom: 0.5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-medium {
    margin-bottom: 1rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-big {
    margin-bottom: 3rem;
  }
}

.u-margin-top-bigger {
  margin-top: 15rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-bigger {
    margin-top: 8rem;
  }
}

.u-margin-top-big {
  margin-top: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-big {
    margin-top: 3rem;
  }
}

.u-margin-top-medium {
  margin-top: 4rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-medium {
    margin-top: 1rem;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-small {
    margin-top: 0.5rem;
  }
}

@keyframes moveInleft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.btn {
  transition: all 0.2s;
  display: block;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #ffe6c3, #ffc069);
  text-decoration: none;
  color: #4a403a;
}
.btn:hover {
  transform: translateY(-10%);
  font-weight: 600;
}
.btn:active {
  transform: translateY(0%);
}

.btn--villas {
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.2s;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  font-weight: 200;
  background-image: linear-gradient(to right bottom, #ffe6c3, #ffc069);
  text-decoration: none;
  color: #4a403a;
}
.btn--villas:hover {
  transform: translateY(-10%);
  font-weight: 600;
  color: #a45d5d;
}
.btn--villas:active {
  transform: translateY(0%);
}

.btn--submit {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.9rem;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.2s ease;
  background-image: linear-gradient(to right bottom, #ffe6c3, #ffc069);
  text-decoration: none;
  color: #4a403a;
}
.btn--submit:hover {
  transform: translateY(-5%);
  font-weight: 600;
  color: #a45d5d;
}
@media (max-width: 28.25em) {
  .btn--submit {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

.features_box {
  padding: 3rem 3rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: #3f0d12b7;
  box-shadow: 0px 5px 10px #0007;
  overflow: hidden;
}
.features_box--apt {
  padding: 0;
  height: 23rem;
  width: 80%;
}
@media (max-width: 56.25em) {
  .features_box--apt {
    height: 50rem;
    width: 80%;
  }
}
@media (max-width: 28.25em) {
  .features_box--apt {
    height: 30rem;
  }
}
.features_box--villa {
  height: 23rem;
}
@media (max-width: 28.25em) {
  .features_box--villa {
    height: 18rem;
  }
}
.features_box:hover {
  transform: scale(1.05) translateY(-2rem);
}
.features_box--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.features_box--caption {
  color: #ffc069;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: all 0.5s ease;
}
.features_box--caption--name {
  letter-spacing: 0.5rem;
}
@media (max-width: 56.25em) {
  .features_box--caption {
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}
@media (max-width: 37.5em) {
  .features_box--caption {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}
.features_box:hover .features_box--caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.features_box:hover .features_box--img {
  filter: blur(5px);
  filter: brightness(50%);
}

.popup_apt {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 9000;
  transition: opacity 0.2s ease;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 90%;
  transition: transform 0.7s ease-in;
}
.slide__box {
  position: relative;
  transition: opacity 0.3s ease;
}
.slide__box--para {
  opacity: 0;
  color: #ffc069;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.3rem;
  font-weight: 200;
  transition: opacity 0.3s ease;
}
.slide__box--para-box {
  width: 70%;
  position: absolute;
  bottom: 10%;
  left: 0;
  padding: 2rem 3rem;
}
.slide__box--img {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}
.slide__box:hover .slide__box--img {
  filter: blur(1px) brightness(20%);
}
.slide__box:hover .slide__box--para {
  opacity: 1;
}

.slider__btn {
  z-index: 10;
  border: none;
  background: transparent;
  font-family: inherit;
  color: #ffe6c3;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3rem;
  cursor: pointer;
}
.slider__btn--1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.slider__btn--2 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}
.slider__btn--close {
  position: absolute;
  top: 8%;
  right: 3%;
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  color: #ffe6c3;
  background: transparent;
  transform: translateY(-50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, #fff2 30%, #fff4);
  backdrop-filter: blur(10px);
  z-index: 1005;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.dots-cont {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-b {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 17px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.dots-b-active {
  opacity: 1;
  background-color: #757575;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.service__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__row:not(:last-child) {
  margin-bottom: 10rem;
}
@media (max-width: 37.5em) {
  .service__row:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.service__row_col--left {
  flex: 1 1 0px;
}
.service__row_col--right {
  flex: 1 1 0px;
}
@media (max-width: 37.5em) {
  .service__row:not(:nth-child(3)) {
    flex-direction: column;
  }
  .service__row:nth-child(3) {
    flex-direction: column-reverse;
  }
}

.service__textbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__textbox--heading {
  color: #ffc069;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.8rem;
  animation: moveInleft 0.5s ease-out 0.65s;
  animation-fill-mode: backwards;
  transition: transform 0.2s ease-in-out;
}
.service__textbox--heading:hover {
  transform: translateY(-15%);
}
@media (max-width: 56.25em) {
  .service__textbox--heading {
    transform: translateY(-15%);
  }
}
@media (max-width: 37.5em) {
  .service__textbox--heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
.service__textbox--para {
  padding: 3rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #b3864a;
  letter-spacing: 0.4rem;
  animation: moveInRight 0.5s ease-out 0.65s;
  animation-fill-mode: backwards;
  transition: all 0.2s ease;
}
.service__textbox--para:hover {
  color: #ffc069;
}
@media (max-width: 56.25em) {
  .service__textbox--para {
    color: #ffc069;
  }
}
@media (max-width: 37.5em) {
  .service__textbox--para {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
}

.service_border--left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.service_border--right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 37.5em) {
  .service_border--left {
    border-left: none;
  }

  .service_border--right {
    border-right: none;
  }
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 12rem);
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%, transparent 50%), url(/img/bg/header-bg.jpg);
  background-size: cover;
  background-position: top;
}

.hero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15rem 2rem;
  color: #efefef;
}
@media (max-width: 56.25em) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero--textbox__heading--1 {
  background: linear-gradient(to right, #ffe6c3, #ffc069);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 1rem;
  animation: moveInleft 0.5s ease-out 0.65s;
  animation-fill-mode: backwards;
}
@media (max-width: 37.5em) {
  .hero--textbox__heading--1 {
    font-size: 5rem;
    letter-spacing: 0.7rem;
  }
}
.hero--textbox__para--1 {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1rem;
  animation: moveInRight 0.5s ease-out 0.65s;
  animation-fill-mode: backwards;
}
.hero--textbox__heading--2 {
  color: #a7a7a7;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .hero--textbox__heading--2 {
    font-size: 2rem;
  }
}
.hero--textbox__para--2 {
  color: #efefef;
  font-size: 2rem;
  font-weight: 200;
}
.hero--textbox--animated {
  animation: moveInBottom 0.5s ease-out 0.65s;
  animation-fill-mode: backwards;
}

.nav {
  width: 100%;
  padding: 2.4rem 0;
  position: absolute;
  top: 0;
  left: 0;
}
.nav__ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 37.5em) {
  .nav__ul {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
  }
  .nav__ul .nav__li:nth-child(3) {
    display: none;
  }
}
.nav__link {
  transition: all 0.2s;
  display: inline-block;
}
.nav__link:link, .nav__link:visited {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  text-decoration: none;
}
.nav__link:hover {
  transform: translateY(-5%);
  color: #ffc069;
}
.nav__link:active {
  transform: translateY(0%);
}
.nav__logo {
  background-color: #ffc069;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.nav__sticky {
  z-index: 1000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 37.5em) {
  .nav__sticky {
    position: absolute;
  }
}
.nav__mob--cont {
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  display: none;
}
@media (max-width: 37.5em) {
  .nav__mob--cont {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
}
.nav__mob-btn {
  background: transparent;
  border: none;
  color: #ffc069;
  font-size: 4rem;
}
.nav__mob-btn--close {
  background: transparent;
  border: none;
  color: #ffc069;
  font-size: 4rem;
  position: absolute;
  top: 7%;
  right: 4%;
  display: none;
}
@media (max-width: 37.5em) {
  .nav__mob-btn--close {
    display: block;
  }
}
.nav__logo--mob {
  background-color: #ffc069;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.contact_form {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 10rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%, transparent 50%), url(/img/bg/feature-bg.jpg);
  background-size: cover;
  background-position: top;
}
@media (max-width: 56.25em) {
  .contact_form {
    padding: 6rem 5rem;
  }
}
@media (max-width: 37.5em) {
  .contact_form {
    padding: 5rem 3rem;
    width: 100%;
  }
}
@media (max-width: 28.25em) {
  .contact_form {
    width: 100%;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 28.25em) {
  .form__group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.form__label {
  width: 50%;
  font-size: 2rem;
  font-weight: 100;
  color: #ffc069;
  transition: all 0.2s ease;
}
.form__label:hover {
  color: #ffe6c3;
}
@media (max-width: 28.25em) {
  .form__label {
    width: 100%;
  }
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 50%;
  display: block;
  background: #a7a7a7;
  transition: all 0.5s ease-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #b3864a;
  background: #efefef;
}
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}
@media (max-width: 28.25em) {
  .form__input {
    width: 100%;
  }
}

.footer {
  padding: 10rem 2rem;
  background-color: #000;
}
.footer__logo {
  background-color: #ffc069;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.footer__img-name {
  display: block;
  letter-spacing: 1rem;
  color: #ffc069;
}
.footer__link-box {
  padding: 0 4rem;
  width: 100%;
}
.footer__ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer__link {
  display: inline-block;
  transition: all 0.2s ease;
}
.footer__link:link, .footer__link:visited {
  color: #ffc069;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.footer__link:hover {
  transform: scale(1.1);
  color: #ffe6c3;
  font-weight: 600;
}
.footer__link--name:hover {
  transform: translateY(-20%);
}
.footer__text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__para {
  color: #efefef;
  font-size: 1.1rem;
  font-weight: 200;
  word-spacing: 0.5rem;
}

.container {
  background: linear-gradient(to right bottom, #fff2 30%, #fff4);
  padding: 10rem 2rem;
  padding-bottom: 20rem;
  max-width: 114rem;
  margin: 0 auto;
}
.container__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 114rem;
  width: 100%;
  height: 80vh;
  padding: 5rem;
  background-color: #501319d3;
  background-image: linear-gradient(315deg, #81252ed3 0%, #d8314a 84%);
}
@media (max-width: 56.25em) {
  .container__slider {
    height: 50vh;
  }
}
@media (max-width: 37.5em) {
  .container__slider {
    padding: 2.5rem 2rem;
  }
}
@media (max-width: 37.5em) {
  .container {
    padding: 2.5rem 2rem;
  }
}

.feature {
  padding: 10rem 2rem;
}
@media (max-width: 37.5em) {
  .feature {
    padding: 5rem 2rem;
  }
}

.projects {
  padding: 5rem 2rem;
}
@media (max-width: 37.5em) {
  .projects {
    padding: 2.5rem 2rem;
  }
}

.services {
  padding: 5rem 2rem;
}
@media (max-width: 37.5em) {
  .services {
    padding: 2.5rem 2rem;
  }
}

.cta {
  padding: 5rem 2rem;
}
@media (max-width: 37.5em) {
  .cta {
    padding: 2.5rem 2rem;
  }
}

.sec-hidden {
  opacity: 0;
  transform: translateY(15rem);
}

.section {
  transition: transform 0.5s, opacity 0.5s;
}

/*# sourceMappingURL=style.css.map */
