@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//flex -box
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-col-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
// MEDIA QUERY Manager
@mixin respond($breakpoint) {
  @if $breakpoint== phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint== tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint== tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint== big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
