@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//flex
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-col-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
