$color-black: #000;

//colors

$color-primary-gold: #ffc069;
$color-primary-brown: #4a403a;
$color-primary-maroon: #a45d5d;
$color-primary-grey: #efefef;
//color-darker
$color-primary-grey--dark: #a7a7a7;
$color-primary-gold--dark: #b3864a;
$color-primary-gold--light: #ffe6c3;
$color-primary-gold--darker: #664d2a;
// grid
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
