.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.7) 0%,
      rgba($color-black, 0.7) 100%,
      transparent 50%
    ),
    url(/img/bg/pexels-nate-1036657.jpg);
  background-size: cover;
  background-position: top;
}
.hero {
  width: 100%;
  margin: 0 auto;
  padding: 15rem 2rem;
  color: $color-primary-grey;
  &--textbox {
    &__heading--1 {
      background: linear-gradient(
        to right,
        $color-primary-gold--light,
        $color-primary-gold
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      // color: $color-primary-gold;
      font-size: 8rem;
      font-weight: 100;
      letter-spacing: 1rem;
      animation: moveInleft 0.5s ease-out 0.65s;
      animation-fill-mode: backwards;
    }
    &__para--1 {
      font-size: 1.4rem;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 1rem;
      animation: moveInRight 0.5s ease-out 0.65s;
      animation-fill-mode: backwards;
    }
    &__heading--2 {
      color: $color-primary-grey--dark;
      font-size: 3.5rem;
      font-weight: 400;

      text-transform: uppercase;
    }
    &__para--2 {
      color: $color-primary-grey;
      font-size: 2rem;
      font-weight: 200;
    }

    &--animated {
      animation: moveInBottom 0.5s ease-out 0.65s;
      animation-fill-mode: backwards;
    }
  }
}
