.nav {
  width: 100%;
  padding: 2.4rem 0;
  position: absolute;
  top: 0;
  left: 0;
  &__ul {
    list-style-type: none;
    @include flex-center;
    gap: 3rem;
  }

  &__link {
    transition: all 0.2s;
    display: inline-block;
    &:link,
    &:visited {
      padding: 1rem 3rem;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      text-decoration: none;
    }
    &:hover {
      transform: translateY(-10%);
      color: $color-primary-gold;
    }
    &:active {
      transform: translateY(0%);
    }
  }
  &__logo {
    background-color: $color-primary-gold;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  &__sticky {
    z-index: 1000;
    position: fixed;
    background-color: rgba($color-black, 0.9);
  }
}
