*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}
body {
  font-family: "Josefin Slab", serif;
  box-sizing: border-box;
  background-color: #501319d3;
  background-image: linear-gradient(315deg, #501319d3 0%, #a71d31 84%);
}
