.container {
  background: linear-gradient(to right bottom, #fff2 30%, #fff4);
  // backdrop-filter: blur(2px);
  padding: 10rem 2rem;
  padding-bottom: 20rem;
  max-width: 114rem;
  margin: 0 auto;
}

.feature {
  padding: 10rem 2rem;
}
.projects {
  padding: 10rem 2rem;
}
.services {
  padding: 10rem 2rem;
}
.cta {
  padding: 10rem 2rem;
}
